In [7]:
pip install groq pandas

Requirement already satisfied: groq in /usr/local/lib/python3.12/dist-packages (1.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from groq) (4.12.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from groq) (2.12.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.12/dist-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.12/dist-packages (from groq) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.12/dist-packages (from anyio<5,>=3.5.0->groq) (3.11)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->groq) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->groq) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (0.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

1.Complete the installation:

In [1]:
!pip install groq pandas -q

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.3/138.3 kB 2.0 MB/s eta 0:00:00

2.Create sample CSV data(will simulate real ETL data)

In [4]:
import pandas as pd

data = {
    'customer_id': [101, 102, None, 104, 102, 106],
    'name': ['Rahul', 'Priya', 'Amit', None, 'Priya', 'Sneha'],
    'order_amount': [500, 1200, 300, 99999, 1200, None],
    'city': ['Mumbai', 'Delhi', 'Mumbai', 'Chennai', 'Delhi', 'Pune']
}

df = pd.DataFrame(data)
print(df)

   customer_id   name  order_amount     city
0        101.0  Rahul         500.0   Mumbai
1        102.0  Priya        1200.0    Delhi
2          NaN   Amit         300.0   Mumbai
3        104.0   None       99999.0  Chennai
4        102.0  Priya        1200.0    Delhi
5        106.0  Sneha           NaN     Pune

3.Connected with Grok

In [5]:
from groq import Groq

client = Groq(api_key="gsk_zBuXT4Xbsdir")

# Test karo
response = client.chat.completions.create(
    model="llama-3.3-70b-versatile",
    messages=[{"role": "user", "content": "Say hello in one line"}]
)
print(response.choices[0].message.content)

Hello, it's nice to meet you.

4.Show the data to AI and get it analysed:

In [6]:
data_summary = f"""
Dataset has these issues:
- Total rows: {len(df)}
- Null values: {df.isnull().sum().to_dict()}
- Duplicate rows: {df.duplicated().sum()}
- Suspicious values: order_amount mein 99999 hai

Explain the issues and fix the root cause from a ETL perspective.
"""

response = client.chat.completions.create(
    model="llama-3.3-70b-versatile",
    messages=[{"role": "user", "content": data_summary}]
)
print(response.choices[0].message.content)

**Dataset Issues Explanation**

The given dataset has the following issues:

1. **Total rows: 6**: The dataset contains 6 rows of data.
2. **Null values: {'customer_id': 1, 'name': 1, 'order_amount': 1, 'city': 0}**:
   - There is 1 null value in the 'customer_id' column.
   - There is 1 null value in the 'name' column.
   - There is 1 null value in the 'order_amount' column.
   - There are no null values in the 'city' column.
3. **Duplicate rows: 1**: There is 1 duplicate row in the dataset.
4. **Suspicious values: order_amount mein 99999 hai**:
   - There is a suspicious value '99999' in the 'order_amount' column, which could be an outlier or an incorrect value.

**ETL Perspective**

From an ETL (Extract, Transform, Load) perspective, these issues need to be addressed to ensure data quality and integrity.

### Extract

During the extract phase, data is collected from various sources. To fix the root cause of the issues:

* Verify the data source for 'customer_id', 'name', and 'order_amount' to ensure that the data is being collected correctly and that there are no gaps in the data.
* Check the data source for any duplicate data to prevent duplicate rows from being extracted.

### Transform

During the transform phase, data is cleaned, formatted, and transformed into a suitable format for analysis. To fix the root cause of the issues:

* **Handle null values**:
  + For 'customer_id' and 'name', either
    - Remove the rows with null values if they are not crucial for the analysis.
    - Replace null values with a default or mean value if it makes sense for the analysis.
    - Use an imputation technique to fill in the null values.
  + For 'order_amount', if the null value is due to a missing or incorrect value, consider replacing it with a default or mean value, or use an imputation technique.
* **Remove duplicate rows**:
  + Use a SQL query or a programming language like Python to remove duplicate rows based on a unique identifier (e.g., 'customer_id').
* **Address suspicious values**:
  + For the 'order_amount' column, investigate the value '99999' to determine if it is an outlier or an incorrect value.
  + If it's an outlier, consider removing it or transforming the data to reduce its impact.
  + If it's an incorrect value, correct it or replace it with a default value.

### Load

During the load phase, the transformed data is loaded into a target system, such as a data warehouse or a database. To fix the root cause of the issues:

* Ensure that the loaded data is consistent and accurate.
* Use data validation and data quality checks to ensure that the data meets the expected standards.

**Example Code (Python)**

```python
import pandas as pd

# Sample dataset
data = {
    'customer_id': [1, 2, None, 4, 5, 5],
    'name': ['John', 'Jane', None, 'Bob', 'Alice', 'Alice'],
    'order_amount': [100, 200, None, 400, 500, 500],
    'city': ['New York', 'Chicago', 'Los Angeles', 'Houston', 'Seattle', 'Seattle']
}

df = pd.DataFrame(data)

# Print original dataset
print("Original Dataset:")
print(df)

# Handle null values
df['customer_id'] = df['customer_id'].fillna(0)  # Replace null with default value
df['name'] = df['name'].fillna('Unknown')  # Replace null with default value
df['order_amount'] = df['order_amount'].fillna(0)  # Replace null with default value

# Remove duplicate rows
df = df.drop_duplicates()

# Address suspicious values
df.loc[df['order_amount'] == 99999, 'order_amount'] = 0  # Replace suspicious value with default value

# Print transformed dataset
print("\nTransformed Dataset:")
print(df)
```

Note: This code is for illustration purposes only and may need to be adapted to the specific use case and dataset.